.coupon-style {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.coupon-style .input-component {
    width: 88%;
}

.coupon-style .input-component input {
    padding: 6px 1rem;
}

.accordion-button {
    color: #333 !important;
    background-color: #f5f5f5 !important;
    border-color: #ddd !important;
}

.accordion-button:focus {
    outline: 0 !important;
    
}