.footer {
    background-color: #f6f6f6;
    padding: 4rem 11.5rem 0;
    width: 100%;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-info_brand {
    width: 40%;
}

.footer-info_brand h5 {
    line-height: 24px;
    color: #707070;
    letter-spacing: 0.025em;
    margin-bottom: 35px;
    max-width: 480px;
    font-size: 13px;
}

.footer-info_brand p {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: #292929;
    text-transform: capitalize;
}

.footer-info_brand--icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer-info_brand--icons a {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #aaaaaa;
    background: #ebebeb;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    font-family: 'Shizuru', cursive;
    padding: 0 0 2rem 0;
    letter-spacing: 7px;
    text-shadow: 10px 10px 25px rgb(81, 67, 21);
}

.footer-logo_main {
    font-weight: 600;
    padding: 0 10px 0 0;
}

.footer-info_sub {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 0 0 0;
}

.footer-info_sub h5 {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 700;
    color: #292929;
}

.footer-info_sub--links{
    padding: 0 !important;
    color: #666;
}

.footer-info_sub--links li {
    font-size: 12px;
    list-style-type: none;
    padding: 0 0 1rem 0;
}

.footer-copyright {
    margin: 1rem 0 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-copyright_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright_container p {
    letter-spacing: 0.1px;
}

.footer-copyright_container>p>a {
    text-decoration: none;
}

.footer-copyright_container--icons {
    width: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.footer-copyright_container--icons span {
    font-size: 30px;
}