@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

.scroll-nav {
    width: 100%;
    top: auto !important;
    background-color: #fff;
    opacity: 0.9;
    z-index: 15;
    position: fixed !important;
    transition: all 3s ease-in-out;
}

.navbar {
  flex-wrap: nowrap !important;
}

.header-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 4rem;
}

.header-menu_link {
    color: #292929;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.header-menu_link:hover {
    color: #FF0055;
    border-bottom: 4px solid #ff0055;
    border-radius: 5px;
}

.header-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Shizuru', cursive;
    padding: 0 0 10px 0;
    letter-spacing: 7px;
    text-decoration: none;
    text-shadow: 10px 10px 25px rgb(81, 67, 21);
    color: #292929;
}

.header-logo:hover {
    color: #292929;
}

.header-logo span {
    font-weight: 600;
    padding: 0 10px 0 0;
}

.header-setting {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 3rem 5px 8rem;
}

.header-setting span {
    font-size: 1.3rem;
}

.header-setting_search {
    cursor: pointer;
}