.popup {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 0 1rem;
    background-color: #fff;
    position: absolute;
    bottom: 11rem;
    opacity: 0;
    backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
    transform: translateY(25px) translateZ(0);
  -webkit-transform: translateY(25px) translateZ(0);
  }
  /* animation: topup 5s ease; */
  /* transition: bottom 2s */
  
/* .popup {
  position: absolute;
  left: 20px;
  right: 20px;
  background: #fff;
  box-shadow: -1px 0px 1px 0px rgb(0 0 0 / 10%);
  bottom: 20px;
  padding: 12px 5px 12px 10px;
  text-align: center;
  opacity: 0;
  transform: translateY(25px) translateZ(0);
  -webkit-transform: translateY(25px) translateZ(0);
  perspective: 800px;
  -webkit-perspective: 800px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
} */

@keyframes topup {
    0% {
      bottom: 0
    }
  
    25% {
      bottom: 2rem
    }
  }

.popup p {
    margin: 0;
    padding: 3px 0 0 0;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.025em;
    position: relative;
}

.popup-icons {}

.popup-icons span {
    cursor: pointer;
    margin: 0 0 0 5px;
    padding: 0 0 0 0;
    font-size: 18px;
}