.product {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.product img {
    object-fit: cover;
}

.product-content {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1rem;
}

.product-content p {
    display: block;
    line-height: 18px;
    color: #292929;
    font-weight: bold;
}

.product-content_sum {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-content_sum span {
    color: #888;
    font-size: 18px !important;
    line-height: 2.4rem;
    display: inline-block;
}

.content-sum_icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}