.new-carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 15rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: black;
    width: 30%;
}

.new-carousel-caption h5 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
}

/* Animation 1 */
.animation-slideToLeft {
    position: relative;
    animation: leftSlide 5s ease-in-out;
}

@keyframes leftSlide {
    0% {
        left: 200px
    }

    25% {
        left: 0px
    }
}

/* Animation 2 */
.animation-slideToRight {
    position: relative;
    animation: rightSlide 5s ease-in-out;
}

@keyframes rightSlide {
    0% {
        right: 500px
    }

    25% {
        right: 0px
    }
}

/* Animation 3 */
.animation-zoom {
    position: relative;
    animation: zoom 4s ease-in-out;
}

@keyframes zoom {
    0% {
        font-size: 5px
    }

    25% {
        font-size: 24px
    }
}

/* Animation 4 */
.animation-bounce {
    position: relative;
    animation: bounce 3s ease-in-out;
}

@keyframes bounce {
    0% {
        font-size: 5px
    }

    25% {
        font-size: 30px
    }

    50% {
        font-size: 28px
    }

    75% {
        font-size: 30px
    }
}

/* Animation 4 */
.animation-btn {
    position: relative;
    animation: topUp 5s ease-in-out;
}

@keyframes topUp {
    0% {
        top: 200px
    }

    25% {
        top: 0
    }
}

/* End animation */

.new-carousel-caption p {
    font-size: 30px;
    font-family: Roboto, "Helvetica Neue";
    font-weight: 600;
    letter-spacing: 1px;
}

/* Static background */
.carousel-bg {
    width: 100%;
    height: 350px;
    background-image: url('assets/images/bkg_breadcrumbs.jpg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
}

.carousel-bg_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    margin: auto;
}

.carousel-bg_icons {
    color: black;
}

.carousel-bg_icons:hover {
    color: #ff0055;
}

.carousel-bg_group span {
    text-transform: capitalize;
    color: #ff0055;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
}