.header-setting_cart {
    cursor: pointer;
    background-color: #292929;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 7px 21px;
}

.header-setting_cart:hover {
    background-color: #929292;
    color: #fff;
}

.header-setting_cart span {
    background-color: #fff;
    color: #292929;
    padding: 0px 9px;
    border-radius: 15px;
    margin-left: 1rem;
    font-weight: bold;
}

/* Animation */
.bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }