.input-component {
  display: flex;
  align-items: center;
}

.input-component label {
  font-weight: bold;
  margin-right: 15px;
}

.input-component input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 1rem;
}