.input-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-component label {
  font-weight: bold;
  display: inline-block;
}

.input-component input {
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 1rem;
}

.input-component input::placeholder {
  color: #292929;
  font-size: 14px;
  text-transform: capitalize;
}

.input-component label>span {
  color: red;
  margin: 0 2px 0 0;
}