.table-icons {
    cursor: pointer;
}

.checkout {
    padding: 0 11.5rem !important;
}

.empty-cartBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.empty-cartBtn button {
    background-color: #292929;
    border: none;
    border-radius: 30px;
}