.swiper-button-next, .swiper-button-prev {
    width: 55px;
    height: 55px;
    flex-direction: row;
    color: #fff;
    background-color: #292929;
    border: 1px solid #929292;
    border-radius: 50%;
    transition: all 0.7s ease;
}

.swiper-button-next:hover {
    color: #fff;
    background-color: #929292;
}

.swiper-button-prev:hover {
    color: #fff;
    background-color: #929292;
}